<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sr.player"
      android:versionCode="10" android:versionName="0.8.1">
      
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"          
          android:anyDensity="true" />
    
         
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SRPlayer"
                  android:label="@string/app_name" android:launchMode="singleInstance"                                                                      
                  >                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" 
                       android:resource="@xml/searchable" />
                                                
        </activity>
        
        <activity android:name=".FaqActivity"
                  android:label="FAQ" android:launchMode="singleInstance"                                   
                  />                                                   
        
    <service android:name="PlayerService"></service>
    <service android:name="DownloadPodcastService"></service>

	<receiver android:name="PlayerWidget" 
	 android:label="SR Player 4x1"
	 >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	        <action android:name="sr.playerwidget.START"></action>
	        <action android:name="sr.playerservice.UPDATE"></action>	         
	    </intent-filter>
	    <meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/srplayer_widget_info" />
	</receiver>
	
	<receiver android:name="PlayerWidgetS" 
	 android:label="SR Player 2x1"
	 >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	        <action android:name="sr.playerwidgets.START"></action>
	        <action android:name="sr.playerservice.UPDATE"></action>	         
	    </intent-filter>
	    <meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/srplayer_widgets_info" />
	</receiver>
	
	<receiver android:name=".MediabuttonReceiver" >
	    <intent-filter
	    android:priority="1"
	    >
	        <action android:name="android.intent.action.MEDIA_BUTTON" />	        	      
	    </intent-filter>
	</receiver>
	
	<receiver android:name=".BootupReceiver">
       <intent-filter>
       <action
       android:name ="android.intent.action.BOOT_COMPLETED">
       </action>
       </intent-filter>
    </receiver>
	
	<receiver android:name="SRPlayerAlarm" android:process=":remote" />
	
<activity android:name=".SRPlayerPreferences"></activity>

<meta-data android:name="android.app.default_searchable"
android:value=".SRPlayerSearch" />

</application>

    <uses-sdk android:minSdkVersion="3" />


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>  
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 